doctype html
html
	head
	title= pageTitle
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")

	link(rel="stylesheet", href="/bootstrap/css/autumn-dawn.css")
	link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat")

	script(type="text/javascript", src="/js/jquery-1.10.2.min.js")
	script(type="text/javascript", src="bootstrap/js/bootstrap.min.js")

	link(rel="stylesheet", href="/css/t4tc-monitor.css")

	body
		.container 

			div.row
				div.col-lg-12
					div.navbar.navbar-inverse
						div.navbar-header
							button(type="button",class="navbar-toggle",data-toggle="collapse",data-target=".navbar-inverse-collapse")
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a(class="navbar-brand", href="#") Test 4 Theory
						div.navbar-collapse.collapse.navbar-inverse-collapse
							ul.nav.navbar-nav
								li.active
									a(href="#") Home
								li
									a(href="#") Link

								//- form.navbar-form.navbar-right
								//- 	input(type="text", class="form-control col-lg-8", placeholder="Search")
								//a( class="navbar-form navbar-right"  href="/auth/facebook") Login via Facebook
							ul.nav.navbar-nav.navbar-right

								if(user)

									li
										if ( user.provider == 'facebook') 
											a.dropdown-toggle(href="#", data-toggle="dropdown" , style="padding-top:10px;padding-bottom:10px") #{user.displayName} | 
												img(src="http://graph.facebook.com/"+user.id+"/picture?type=square", height="25px")
												|  | 
												img(src="/icons/facebook.ico", height="30px")
												span.caret

										if ( user.provider == 'google') 
											a.dropdown-toggle(href="#", data-toggle="dropdown" , style="padding-top:10px;padding-bottom:10px") #{user.displayName} | 
												img(src=JSON.parse(user._raw).picture, height="25px")
												|  | 
												img(src="/icons/google.ico", height="30px")
												span.caret

										if ( user.provider == 'twitter') 
											a.dropdown-toggle(href="#", data-toggle="dropdown", style="padding-top:10px;padding-bottom:10px") #{user.displayName} | 
												img(src=user.photos[0].value, height="25px")
												|  | 
												img(src="/icons/twitter.ico", height="30px")
												span.caret



										ul.dropdown-menu
											li
												a(href="/account") 
													span.glyphicon.glyphicon-info-sign
													|  My Account

											li.divider
											li
												a(href="/logout") 
													span.glyphicon.glyphicon-log-out 
													|  Sign Out
								else
									li
										a(href="/login") 
											|   Sign In  
											span.glyphicon.glyphicon-log-in

			div.row
				if (user)
					p #{JSON.stringify(user)}

			block content