doctype html
html
	head
		title= pageTitle
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="style/css/challenge.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script.
			$(document).ready(function(){
				var vmid = "#{vmid}";

				function update(){

					$.get("/challenge/user_status?vmid=#{vmid}", function(d){
						console.log(d);
						$("#events").html(" Total Events : "+d.events);
						$("#completed").html(" Completed Jobs : "+d.completed);
						$("#failed").html(" Failed Jobs : "+d.failed);
						$("#cpuusage").html(" CPU USAGE : "+d.cpuusage+ " seconds");
						$("#diskusage").html(" DISK USAGE : "+d.diskusage+ " kB");
						$("#rank").html(" Rank : "+d.rank);
					});
				}

				update();
				setInterval(function(){
					console.log("refresh");
					console.log(vmid);
					update();
				},  3*1000);
			});

	body
		.container(id="credits")
			div(class="text-center")
				h1 Welcome #{userName}!
				//p
				//	| You are now logged-in with VM ID #{vmid}! Here you will soon see your <em>Challenge</em> credits!
				p
					| <pre id="events"> Total Events : --  </pre>
				p
					| <pre id="completed"> Completed Jobs : --  </pre>
				p
					| <pre id="failed"> Failed Jobs : -- </pre>
				p
					| <pre id="cpuusage">  CPU USAGE : -- </pre>
				p
					| <pre id="diskusage"> DISK USAGE : -- </pre>
				p
					| <pre id="rank">  RANK : -- </pre>
				p
					a(href="vlhc_logout",class="btn btn-default") Disconnect and stop tracking progress
