doctype html
html
	head
		title
			| CERN 60 Challenge - My Contribution
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet", href="style/css/challenge.css")
		link(rel="stylesheet", href="css/credits.css")
		script(type="text/javascript", src="//code.jquery.com/jquery-1.11.0.min.js")
		script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
		script.
			$(document).ready(function(){
				var vmid = "#{vmid}";

				function numberWithCommas(x) {
					return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
				}

				function update(){

					$.get("/challenge/user_status?vmid=#{vmid}", function(d){

						$("#t-events").text(""+numberWithCommas(d.events));
						$("#t-completed").text(""+numberWithCommas(d.completed));
						$("#t-failed").text(""+numberWithCommas(d.failed));

						// Rank
						var rank = parseInt(d.rank);
						if (rank <= 0) {
							$("#t-rank").text(" soon");
						} else {
							$("#t-rank").text(" # "+numberWithCommas(rank+1));
						}

						// Calculate CPU time
						var strCPUTime = "",
							cpuSec = parseInt(d.cpuusage);
						if (cpuSec > 60) {
							var cpuMin = cpuSec / 60;
							if (cpuMin > 60) {
								var cpuHour = cpuMin / 60;
								strCPUTime = cpuHour.toFixed(1) + " h";
							} else {
								strCPUTime = cpuMin.toFixed(1) + " min";
							}
						} else {
							strCPUTime = cpuSec + " sec";
						}
						$("#t-cpuusage").text(strCPUTime);

						// Calcupate Disk Size
						var strDiskSize = "",
							diskKb = parseInt(d.diskusage);
						if (diskKb > 1024) {
							var diskMb = diskKb / 1024;
							if (diskMb > 1024) {
								var diskGb = diskMb / 1024;
								if (diskGb > 1024) {
									var diskTb = diskGb / 1024;
									strDiskSize = diskTb.toFixed(2) + " Tb";
								} else {
									strDiskSize = diskGb.toFixed(2) + " Gb";
								}
							} else {
								strDiskSize = diskMb.toFixed(2) + " Mb";
							}
						} else {
							strDiskSize = diskKb.toFixed(2) + " Kb";
						}
						$("#t-diskusage").text(strDiskSize);

					});
				}

				update();
				setInterval(function(){
					console.log("refresh");
					console.log(vmid);
					update();
				},  3*1000);
			});

		script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5486e2f91820d039', async='async')

	body
		div#credits.rank-panel
			div.inner
				div.row
					div.col-xs-6.text-center
						h2
							| Rank
							span#t-rank.highlight # --
						div.banner
							div.banner-image(style="background-image: url( #{picture} )")
							div.banner-leaves
						h2.name
							| !{userName}
					div.col-xs-6
						if (control)
							div.text
								| Is participating in the <strong>CERN 60 Challenge</strong> and has so far contributed:
						else
							div.text
								| Is participating in the <a href="https://test4theory.cern.ch/challenge/">CERN 60 Challenge</a> and has so far contributed:
						h2#t-events.text-center
							| ---
						div.subtext.text-center
							| simulated events
						h2#t-completed.text-center
							| ---
						div.subtext.text-center
							| completed jobs
						h2#t-failed.smaller.text-center
							| ---
						div.smaller.subtext.text-center
							| jobs with errors
						div.details.row
							div.whiteback.col-xs-6
								h2#t-cpuusage.smaller.text-center
									| ---
								div.smaller.subtext.text-center
									| of CPU Time
							div.whiteback.col-xs-6
								h2#t-diskusage.smaller.text-center
									| ---
								div.smaller.subtext.text-center
									| of data submitted
		if (control)
			div.rank-control
				a.btn.btn-default.pull-right(href='vlhc_logout') Disconnect and stop tracking progress
				div.addthis_sharing_toolbox(data-url="https://test4theory.cern.ch/challenge/vlhc_credits?vmid=#{vmid}",data-title="My contribution to the CERN 60 Challenge")
